.fit
{
    object-fit: cover;
}
.panier:hover > #cart-dropdown
{
    display: block;
}
.row.personal-bg
{
    background: url(/image/ours.jpg) no-repeat center;
    flex-wrap: nowrap;
    height: 20rem;

}
.bg-lightDark
{
    background-color: rgb(119, 119, 119);
}
.unstyled-link
{
    text-decoration: none;
}
.font-style-google-font
{
    font-family: 'MonteCarlo', cursive;
}
.width100
{
    width: 100%;
}

.miniature
{
    height: 30rem;
}